/* Site Wide */
html {
  min-height: 100%;
  
}

body {
  height:100%
  background: rgb(131,58,180);
  background: linear-gradient(53deg, rgba(131,58,180,1) 0%, rgba(253,29,210,1) 50%, rgba(252,176,69,1) 100%);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  text-align: center;
  letter-spacing: 3px;
}

#header {
  text-align: center;
}

#navli {
  display: inline;
  margin: 0 10px;
}

p {
  text-align: center;
}

footer  {
  position: flex;
  bottom:0;
  width: 100%;
  text-align: center;
  
}

/* Home Page */

#pfpmain {
  width: 400px;
  height: fit-content;
  display:block;
  margin-left: auto;
  margin-right: auto;
  border:solid black;
}

/* About Me */

#schoolpic {
  width:50%;
  height: 50%;
  border: 3px solid;
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
}
.column {
  flex: 33.33%;
  padding: 5px;
}

/* Extracurriculars */

